{# src/AppBundle/Resources/views/Default/list.html.twig #}


{% extends "AppBundle::layout.html.twig" %}

{% block title %}Cherchi.ma - {{ annonce.ville }} {{ annonce.title }} Prix Maroc {% endblock %}
{% block metadescription %}
<meta name="description" content="
Annonce {{ annonce.tags }} {{ annonce.ville }} Maroc. {{ annonce.title }} rechercher le meilleur prix des annonces
au maroc dans plusieurs sites d'annonces au Maroc rapidement et comparer les prix du même article."/>
{% endblock %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url('detail_annonces', {'ville': annonce.ville|GenerateSlug, 'idannonce': annonce.idAnnonces, 'title': annonce.title|GenerateSlug}) }}">
{% endblock %}
{% block body %}
    <div class="shot-overlay" style="" tabindex="-1">
        <a href="{{ path('list_annonces', {'ville': annonce.ville|GenerateSlug, 'tags': annonce.tags|GenerateSlug}) }}"
           class="close-overlay" aria-label="close"></a>
        <div class="overlay-content group" style="">
            <!-- /main -->
            <div class="slat-header user ">
                <picture>
                    <img title="Site {{ annonce.idSite|SiteInfos.name }}"
                         src="{{ asset("logo/" ~ annonce.idSite|SiteInfos.logo) }}"
                         class="photo">
                </picture>
                <a href="javascript:void(0)" title="George Bokhua" rel="contact" class="url hoverable"></a>
                <h1>{{ annonce.title }} <span class="badge badge-pro">{{ annonce.prix }} DH </span></h1>

                <h2 class="shot-byline">
      <span class="attribution ">
        <span class="shot-byline-user">
         <a title="Annonces {{ annonce.tags }} / {{ annonce.ville }} Maroc"
            href="{{ url('list_annonces', {'ville': annonce.ville|GenerateSlug, 'tags': annonce.tags|GenerateSlug}) }}"
            class="url hoverable"> Annonces {{ annonce.tags }} / {{ annonce.ville }} Maroc </a>
        </span>
      </span>

        <span class="shot-byline-date">
           <em class="timestamp"> </em>
        </span>
                </h2>
            </div>
            <div class="main-shot">
                <div data-img-src="images/{{ annonce.idSite }}/{{ annonce.image }}"
                     data-screenshot_id="{{ annonce.idAnnonces }}" class="the-shot">
                    <div class="single group">
                        <img src="{{ asset(annonce.image) }}"
                             style="width: 100%; height: 100%">
                    </div>
                </div>
                <div class="screenshot-info-wrapper">
                    <div class="screenshot-conversation">

                        <div class="shot-desc">
                            <p>{{ annonce.description }}</p>
                        </div>
                    </div>
                    <div class="screenshot-meta is-team">
                        <ul class="shot-stats">
                            {% for dataItem in annonce.getExtraAnnonces() %}
                                <li class="shot-stats-share">
                                    {% if dataItem.label is defined %}
                                        <a href="#" class="stats-action share-shot">
                                            <span class="stats-label">{{ dataItem.label }}</span>
                                        </a>
                                    {% endif %}
                                    {% if dataItem.value is defined %}
                                        <span class="views-count stats-num">
                                        {{ dataItem.value }}
                                    </span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="related-player-shots">
                            <h3 class="meta-head">

                                    Annonces Similaires :
                                </h3>
                            <ol class="more-thumbs">
                                {% for anno in annoncesSimilar %}
                                    <li>
                                        <a class="url hoverable"
                                           href="{{ path('detail_annonces', {'ville': anno.ville|GenerateSlug, 'idannonce': anno.idAnnonces, 'title': anno.title|GenerateSlug}) }}">
                                            <img class="similar" alt="{{ anno.title }}"
                                                 src="{{ asset(anno.image) }}">
                                            <span> {{ anno.title }} </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div id="kbd-legend">
                <p><a class="form-btn" target="_blank" rel="nofollow" href="{{ annonce.url }}">Aller dans la page
                        d'annonce</a></p>
            </div>

            <div class="overlay-footer group">
            </div>
            <div class="thedeck loading-dock hide">
            </div>

        </div>
    </div>
{% endblock %}