{# src/AppBundle/Resources/views/Default/list.html.twig #}


{% extends "AppBundle::layoutamp.html.twig" %}

{% block title %}Cherchi.ma - {{ annonce.ville }} {{ annonce.title }} Prix Maroc {% endblock %}
{% block metadescription %}
<meta name="description" content="
Annonce {{ annonce.tags }} {{ annonce.ville }} Maroc. {{ annonce.title }} rechercher le meilleur prix des annonces
au maroc dans plusieurs sites d'annonces au Maroc rapidement et comparer les prix du même article."/>
{% endblock %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url('detail_annonces', {'ville': annonce.ville|GenerateSlug, 'idannonce': annonce.idAnnonces, 'title': annonce.title|GenerateSlug}) }}">
{% endblock %}


 {% block stylesheets %}
     <style amp-custom="">
         html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
             margin: 0;
             padding: 0;
             font-size: 100%;
             vertical-align: baseline;
             border: 0;
             outline: 0;
             background: transparent;
         }
         ol, ul {
             list-style: none;
         }
         blockquote, q {
             quotes: none;
         }
         table {
             border-collapse: collapse;
             border-spacing: 0;
         }
         html {
             -webkit-font-smoothing: subpixel-antialiased;
         }
         body {
             font-family: "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
             color: #444444;
             font-size: 62.5%;
             text-rendering: optimizeLegibility;
             background: #fff;
         }
         a:link, a:visited {
             color: #3a8bbb;
             outline: none;
             text-decoration: none;
         }
         a:hover {
             text-decoration: none;
             color: #1e6189;
         }
         button[type="submit"], input[type="submit"] {
             cursor: pointer;
         }
         ::-moz-selection {
             color: #fff;
             color: rgba(255, 255, 255, 0.85);
             background: #ea4c89;
         }
         ::selection {
             color: #fff;
             color: rgba(255, 255, 255, 0.85);
             background: #ea4c89;
         }
         #wrap {
             background: #f4f4f4;
         }
         #wrap-inner {
             padding: 30px 20px 40px 20px;
         }
         h2.section, h2.section-bold, div.copy h2.section {
             border-bottom: 1px solid #ddd;
             color: #444;
             font-size: 16px;
             font-weight: 500;
             line-height: 1;
             margin: 0 0 15px;
             overflow: hidden;
             padding: 0 0 10px;
         }
         #content {
             position: relative;
             max-width: 970px;
             margin: 0 auto;
             padding: 0;
             font-size: 1.2em;
         }
         div.full {
             width: 700px;
             margin: 10px 0 35px 0;
             padding: 0;
         }
         div.full.both-columns {
             width: 100%}
         div.full-auto {
             width: auto;
         }
         div.full-pitch {
             width: auto;
             margin: 0;
             padding: 30px;
             text-align: center;
             background: #444;
         }
         #header {
             background: rgba(47, 47, 47, 0.98) none repeat scroll 0 0;
             height: 56px;
             width: 100%;
             z-index: 9996;
         }
         #logo a {
             color: #fff;
             font-family: Pacifico;
             font-size: 26px;
             margin-top: 10px;
         }
         div.full-pitch {
             background: #444 none repeat scroll 0 0;
             margin: 0;
             padding: 30px;
             text-align: center;
             width: auto;
         }
         div.full-pitch h1 {
             color: #999;
             font-size: 16px;
             font-weight: normal;
             line-height: 1.3;
         }


         ol.collections li div.dribbble div.collection-thumbs {
             margin: 5% 0 0;
             overflow: hidden;
         }
         ol.collections li div.dribbble div.collection-thumbs h3 {
             display: block;
             float: left;
             font-size: 13px;
             font-weight: 500;
             line-height: 1.2;
             margin: 2px;
             width: 47%;
         }
         div.full-pitch h1.compact, div.full-pitch h1.center {
             color: #999;
         }
         div.full-pitch h1.compact strong, div.full-pitch h1.center strong {
             color: #fff;
         }
         div.full-pitch .form-btn {
             background: #999;
         }
         div.full-pitch .form-btn:hover {
             background: #888;
         }
         div.title-alt h1, div.title-alt p {
             padding-left: 240px;
         }

         ol.dribbbles li.group, ol.collections li.group {
             position: relative;
             width: 220px;
             float: left;
             padding: 0;
             margin: 0 30px 30px 0;
         }
         body.grid-large ol.dribbbles li.group, body.grid-large ol.collections li.group {
             width: 420px;
         }

         ol.dribbbles li h2 span.attribution-team, ol.collections li h2 span.attribution-team, ol.dribbbles li.team h2 span.attribution-user, ol.collections li.team h2 span.attribution-user {
             display: none;
         }
         ol.dribbbles li.team h2 span.attribution-team, ol.collections li.team h2 span.attribution-team, body#profile ol.dribbbles li h2 span.attribution-user, body#profile ol.collections li h2 span.attribution-user, body#user-profile ol.dribbbles li h2 span.attribution-user, body#user-profile ol.collections li h2 span.attribution-user {
             display: inline;
         }
         body#profile ol.dribbbles li.team h2 span.attribution-team, body#profile ol.collections li.team h2 span.attribution-team, body#user-profile ol.dribbbles li.team h2 span.attribution-team, body#user-profile ol.collections li.team h2 span.attribution-team {
             display: none;
         }
         ol.dribbbles li h2 a, ol.collections li h2 a {
             font-weight: 500;
         }
         ol.dribbbles li h2 a img, ol.collections li h2 a img {
             float: left;
             width: 16px;
             height: 16px;
             margin: 1px 5px 0 0;
             -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
             border-radius: 50%}
         ol.dribbbles li h2 a:hover img, ol.collections li h2 a:hover img {
             width: 16px;
             opacity: .8;
         }
         ol.dribbbles li h2 span.badge, ol.collections li h2 span.badge, ol.dribbbles li h2 span.badge-sale, ol.collections li h2 span.badge-sale {
             margin-left: 1px;
             font-size: 10px;
             line-height: 16px;
             opacity: 0;
             -webkit-transition: opacity 0.2s ease;
             -moz-transition: opacity 0.2s ease;
             -o-transition: opacity 0.2s ease;
             transition: opacity 0.2s ease;
         }
         ol.dribbbles li:hover h2 span.badge, ol.collections li:hover h2 span.badge, ol.dribbbles li:hover h2 span.badge-sale, ol.collections li:hover h2 span.badge-sale {
             opacity: 1;
         }
         ol.dribbbles li div.dribbble, ol.collections li div.dribbble {
             position: relative;
             clear: left;
             background: #fff;
             -webkit-border-radius: 2px;
             -moz-border-radius: 2px;
             border-radius: 2px;
             -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
             -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
             box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
         }

         ul.shot-stats>li .stats-action img {
             height: 20px;
             vertical-align: middle;
             opacity: .3;
         }
         ul.shot-stats>li .stats-action img.current-user-rebounded, ul.shot-stats>li .stats-action img.current-user-bucketed {
             opacity: 1;
         }
         ul.shot-stats>li .stats-action span.stats-label {
             position: relative;
             top: 2px;
             margin-left: 5px;
             line-height: 22px;
         }
         @media only screen and (max-width: 739px) {
             ul.shot-stats>li .stats-action span.stats-label {
                 display: none;
             }
         }@media only screen and (max-width: 739px) {
             ul.shot-stats>li .stats-action span.likes-count {
                 display: inline;
             }
         }ul.shot-stats>li .stats-num {
              position: absolute;
              top: 0;
              right: 0;
              padding: 16px 14px;
              color: #999999;
          }
         @media only screen and (max-width: 739px) {
             ul.shot-stats>li .stats-num {
                 position: relative;
                 top: 2px;
                 right: auto;
                 padding: 15px 10px 15px 0;
             }
         }@media only screen and (max-width: 739px) {
             ul.shot-stats>li .stats-num-label {
                 display: none;
             }
         }
         div.share-btns a.at-share-btn:hover {
             opacity: .8;
         }

         ol.more-thumbs {
             margin: 5px 0;
             overflow: hidden;
         }
         ol.more-thumbs li {
             float: left;
             width: 46%;
             margin: 0 0 15px 0;
         }
         ol.more-thumbs li:nth-child(2n) {
             float: right;
         }
         ol.more-thumbs li a {
             display: inline-block;
         }
         ol.more-thumbs li a img {
             width: 100%;
             -webkit-border-radius: 2px;
             -moz-border-radius: 2px;
             border-radius: 2px;
             -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
             -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
             box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
         }
         ol.more-thumbs li a:hover img {
             opacity: .8;
         }
         ol.more-thumbs li div.tipsy-player, ol.more-thumbs li strong {
             display: none;
         }
         @media screen and (min-width: 461px) and (max-width: 739px) {
             ol.more-thumbs {
                 max-width: 420px;
             }
             ol.more-thumbs li {
                 float: none;
                 width: auto;
                 display: inline-block;
                 margin-right: 15px;
             }
             ol.more-thumbs li:nth-child(2n) {
                 float: none;
                 margin-right: 0;
             }
         }div.shot-desc {
              font-size: 16px;
              line-height: 1.5;
              color: #555;
              overflow: hidden;
              margin-bottom: 20px;
          }
         @media only screen and (max-width: 800px) {
             div.shot-desc {
                 padding-top: 20px;
             }
         }div.shot-desc p {
              margin: 14px 0 0 0;
          }
         div.shot-desc p:first-child {
             margin-top: 0;
         }
         div.shot-desc p code {
             font-family: Monaco,  monospace;
             font-size: 1.1em;
             color: #666;
         }
         div.shot-desc a {
             font-weight: 500;
         }
         a.close-overlay {
             position: absolute;
             top: 0;
             right: 0;
             width: 20px;
             height: 20px;
             padding: 20px;
             opacity: .5;
             z-index: 9998;
             background-repeat: no-repeat;
             background-position: 20px 20px;
             background-image: url(../css/assets/icon-shot-x-light-fa16835895506fe67f45d635cace6008.png);
         }

         .shot-overlay {
             background: rgba(30,30,30,0.9);
             top: 0;
             left: 0;
             z-index: 9997;
             width: 100%;
             height: 100%;
             position: fixed;
             overflow-y: scroll;
             -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
             box-sizing: border-box;
             -webkit-overflow-scrolling: touch;
         }
         .overlay-content {
             position: absolute;
             z-index: 9997;
             top: 20px;
             left: 50%;
             width: 920px;
             margin-left: -460px;
             padding: 40px 95px;
             background: #f4f4f4;
             background-position: fixed;
             -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
             box-sizing: border-box;
             -webkit-border-radius: 6px;
             -moz-border-radius: 6px;
             border-radius: 6px;
         }
         div.slat-header h1 span.badge, div.slat-header h1 span.badge-sale {
             font-size: 14px;
             vertical-align: middle;
             position: relative;
             top: -1px;
         }
         h1 span.badge, h1 span.badge-sale, span.badge, span.badge-sale {
             padding: 1px 3px;
             font-family: Helvetica;
             font-size: 10px;
             font-weight: bold;
             line-height: 1;
             text-transform: uppercase;
             color: #fff;
             background: #ccc;
             border-radius: 3px;
         }

         div.slat-header h1 {
             margin: 0;
             padding: 0;
             font-size: 20px;
             font-weight: 500;
             line-height: 1.5;
         }
         div.screenshot-meta {
             padding-left: 480px;
             width: 250px;
         }
         ul.shot-stats>li {
             position: relative;
             width: 100%;
             font-size: 13px;
             line-height: 1;
             border-bottom: 1px solid #ddd;
             box-sizing: border-box;
         }
         ul.shot-stats>li .stats-action {
             display: block;
             padding-top: 10px;
             padding-bottom: 10px;
             color: #999;
             line-height: 22px;
             box-sizing: border-box;
         }
         ul.shot-stats>li .stats-num {
             position: absolute;
             top: 0;
             right: 0;
             padding: 16px 14px;
             color: #999;
         }
         ul.shot-stats>li .stats-action span.stats-label {
             position: relative;
             top: 2px;
             margin-left: 5px;
             line-height: 22px;
         }
         div.screenshot-conversation {
             float: left;
             width: 440px;
         }
         div.main-shot {
             position: relative;
             float: left;
             width: 74.54545%;
         }
         div.the-shot {
             float: left;
             width: 440px;
             position: relative;
             z-index: 1;
         }
         div.the-shot div.single {
             width: 400px;
             min-height: 300px;
             margin: 0 0 30px 0;
             padding: 20px;
             background: #fff;
             border-radius: 3px;
             box-shadow: 0 1px 2px rgba(0,0,0,0.07);
         }

         ol.more-thumbs {
             margin: 5px 0;
             overflow: hidden;
         }
         ol.more-thumbs li {
             max-height: 108px;
         }

         ol.more-thumbs li {
             float: left;
             width: 46%;
             margin: 0 0 15px 0;
         }
         ol.more-thumbs li a {
             display: inline-block;
         }

         .more-thumbs .similar {
             width: 115px;
             height: 86px;
         }
         ol.more-thumbs li a .similar {
             width: 100%;
             border-radius: 2px;
             box-shadow: 0 1px 1px rgba(0,0,0,0.07);
         }
         .hoverable span {
             box-sizing: border-box;
             color: #999;
             display: block;
             font-size: 13px;
             text-transform: lowercase;
         }
         #kbd-legend {
             clear: both;
         }
         #kbd-legend p {
             margin: 0;
             padding: 30px 0 0 0;
             font-size: 13px;
             text-align: center;
             color: #bbb;
             border-top: 1px solid #ddd;
             -webkit-transition: color 0.2s ease;
             -moz-transition: color 0.2s ease;
             -o-transition: color 0.2s ease;
             transition: color 0.2s ease;
         }
         .form-btn, a.form-btn, div.comment-body form.comment button[type="cancel"] {
             padding: 7px 12px;
             font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
             font-size: 13px;
             font-weight: 500;
             text-decoration: none;
             color: #fff;
             border: none;
             background: rgba(0,0,0,0.3) url(../css/assets/button-glass-7bb3dc410ce448678c960eb0d83e2f33.png?1) repeat-x 0 0;
             cursor: pointer;
             -webkit-border-radius: 4px;
             -moz-border-radius: 4px;
             border-radius: 4px;
         }
         div.slat-header h2.shot-byline a {
             margin: 0 2px;
             font-weight: 500;
         }
         .attribution a.url {
             text-transform: lowercase;
         }
         a:link, a:visited {
             color: #3a8bbb;
             text-decoration: none;
         }
         div.slat-header {
             position: relative;
             margin: 0 0 30px 0;
             padding-left: 60px;
             min-height: 48px;
         }
         #footer {
             border-top: 1px solid #e5e5e5;
             clear: both;
         }
         #footer-inner {
             margin: 0 auto;
             padding: 30px 30px 20px 30px;
             font-size: 13px;
             color: #999999;
         }
         #footer a {
             font-weight: bold;
             color: #777777;
         }
         #footer a:hover {
             text-decoration: none;
             color: #444444;
         }
         #footer p {
             margin: 0 50px 10px 0;
             line-height: 1.6;
         }
         #footer p.logo {
             font-size: 15px;
             line-height: 1.6;
             font-weight: 500;
             color: #999999;
         }
         #footer p.about {
             max-width: 300px;
         }
         #footer p.logo a img {
             float: left;
             margin: 0 15px 0 0;
         }
         #footer p.logo a:hover img {
             opacity: .8;
         }
         #footer p.follow a {
             margin: 0 10px 0 0;
         }
         #footer p.follow a img {
             opacity: .37;
         }
         #footer p.follow a:hover img {
             opacity: .72;
         }
         #footer a.footer-pro span.badge, #footer a.footer-pro span.badge-sale {
             position: relative;
             top: -1px;
             font-size: 9px;
             line-height: 1.5;
             background-color: #bbbbbb;
         }
         #footer a.footer-pro:hover {
             color: #66cccc;
         }
         #footer a.footer-pro:hover span.badge, #footer a.footer-pro:hover span.badge-sale {
             background-color: #66cccc;
         }
         #footer div.footer-mod {
             float: left;
             width: 25%;
             margin: 0 0 20px 0;
             -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
             box-sizing: border-box;
         }
         @media only screen and (max-width: 800px) {
             #footer div.footer-mod {
                 float: none;
                 width: auto;
             }
         }#footer div.footer-mod h3 {
              margin: 2px 0 14px 0;
              font-size: 14px;
              font-weight: 500;
              color: #999999;
          }
         #footer div.footer-mod h3 a {
             font-weight: 500;
             color: #999999;
         }
         #footer div.footer-mod h3 a:hover {
             color: #444444;
         }
         #footer div.footer-mod h3 a:active {
             color: #777777;
         }
         #footer div.footer-mod ul.extra-links {
             margin-right: 50px;
             -webkit-column-count: 3;
             -webkit-column-gap: 20px;
             -moz-column-count: 3;
             -moz-column-gap: 20px;
             column-count: 3;
             column-gap: 20px;
         }
         @media only screen and (max-width: 1100px) {
             #footer div.footer-mod ul.extra-links {
                 -webkit-column-count: 2;
                 -webkit-column-gap: 20px;
                 -moz-column-count: 2;
                 -moz-column-gap: 20px;
                 column-count: 2;
                 column-gap: 20px;
             }
         }@media only screen and (max-width: 800px) {
             #footer div.footer-mod ul.extra-links {
                 -webkit-column-count: 3;
                 -webkit-column-gap: 20px;
                 -moz-column-count: 3;
                 -moz-column-gap: 20px;
                 column-count: 3;
                 column-gap: 20px;
             }
         }@media only screen and (max-width: 460px) {
             #footer div.footer-mod ul.extra-links {
                 -webkit-column-count: 2;
                 -webkit-column-gap: 20px;
                 -moz-column-count: 2;
                 -moz-column-gap: 20px;
                 column-count: 2;
                 column-gap: 20px;
             }
         }#footer div.footer-mod ul.extra-links li a {
              font-size: 13px;
              line-height: 1.8;
              font-weight: normal;
              white-space: nowrap;
              color: #999999;
          }
         #footer div.footer-mod ul.extra-links li a:hover {
             color: #444444;
         }
         #footer div.footer-mod ul.extra-links li a:active {
             color: #777777;
         }
         #footer div.footer-mod div.ad {
             margin-top: 6px;
         }
         h4#pixels-total {
             position: relative;
             width: 25%;
             min-height: 56px;
             float: right;
             margin-top: 10px;
             padding: 0 0 0 54px;
             font-size: 1.1em;
             line-height: 1.4;
             font-weight: normal;
             color: #777777;
             background-repeat: no-repeat;
             background-position: 0 50%;
             background-image: url(../css/assets/ball-2f31f1f4e2bb01bdc1cd32e685d77997.png);
             -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
             box-sizing: border-box;
         }
         @media (-webkit-min-device-pixel-ratio: 1.5),  (min--moz-device-pixel-ratio: 1.5),  (-o-min-device-pixel-ratio: 3 / 2),  (min-device-pixel-ratio: 1.5),  (min-resolution: 1.5dppx) {
             h4#pixels-total {
                 background-image: url(../css/assets/ball-2x-bc070c6297d14e2c01fc232a4af450e0.png);
                 -webkit-background-size: 46px 55px;
                 -moz-background-size: 46px 55px;
                 background-size: 46px 55px;
             }
         }h4#pixels-total strong {
              display: block;
              padding-top: 4px;
              font-size: 1.5em;
              line-height: 1.2;
              font-weight: bold;
              color: #333;
          }
         .tipsy {
             padding: 5px;
             font-size: 13px;
             line-height: 1.4;
             position: absolute;
             z-index: 9998;
         }
         .tipsy-inner {
             padding: 10px 12px;
             background: #333 repeat-x top left;
             color: white;
             color: rgba(255, 255, 255, 0.9);
             max-width: 196px;
             text-align: center;
             -webkit-box-shadow: 1 1px 3px rgba(0, 0, 0, 0.5);
             -moz-box-shadow: 1 1px 3px rgba(0, 0, 0, 0.5);
             box-shadow: 1 1px 3px rgba(0, 0, 0, 0.5);
         }
         .tipsy-inner {
             -webkit-border-radius: 3px;
             -moz-border-radius: 3px;
             border-radius: 3px;
         }
         body#jobs .tipsy-inner, body#deals .tipsy-inner {
             color: #fff;
             background: #00b6e3;
         }
         .tipsy-arrow {
             position: absolute;
             background: url(../css/assets/tipsy-323968db8bf0b448fe97acdee3c66d0c.png) no-repeat top left;
             background-size: 10px 10px;
             width: 10px;
             height: 5px;
         }
         body#jobs .tipsy-arrow, body#deals .tipsy-arrow {
             background-image: url(../css/assets/tipsy-blue-38bf37957d5eff7a8f6662cb8fcd6786.png);
         }
         .tipsy-alt .tipsy-inner {
             background-color: #ea4c89;
         }
         .tipsy-alt .tipsy-arrow {
             background-image: url(../css/assets/tipsy-pink-1475d978af395dadab5b93e330de8c1f.png);
         }
         .tipsy-pb .tipsy-inner, body.dark .tipsy-pb .tipsy-inner {
             background-color: #66cc99;
             color: #fff;
         }
         .tipsy-pb .tipsy-arrow, body.dark .tipsy-pb .tipsy-arrow {
             background-image: url(../css/assets/tipsy-seafoam-b68d260690c657fc926ccd855bebdba5.png);
         }
         .tipsy-n .tipsy-arrow {
             top: 0;
             left: 50%;
             margin-left: -4px;
         }
         .tipsy-nw .tipsy-arrow {
             top: 0;
             left: 10px;
         }
         .tipsy-ne .tipsy-arrow {
             top: 0;
             right: 10px;
         }
         .tipsy-s .tipsy-arrow {
             bottom: 0;
             left: 50%;
             margin-left: -4px;
             background-position: bottom left;
         }
         .tipsy-sw .tipsy-arrow {
             bottom: 0;
             left: 10px;
             background-position: bottom left;
         }
         .tipsy-se .tipsy-arrow {
             bottom: 0;
             right: 10px;
             background-position: bottom left;
         }
         .tipsy-e .tipsy-arrow {
             top: 50%;
             margin-top: -4px;
             right: 0;
             width: 5px;
             height: 9px;
             background-position: top right;
         }
         .tipsy-w .tipsy-arrow {
             top: 50%;
             margin-top: -4px;
             left: 0;
             width: 5px;
             height: 9px;
         }
         .tipsy p {
             margin: 0 0 10px 0;
             text-align: left;
         }
         .tipsy p:last-child {
             margin: 0;
         }
         div.processing {
             margin: 0;
             padding: 10px 10px 10px 42px;
             font-size: 14px;
             font-weight: 500;
             line-height: 1.8em;
             color: #444444;
             background-color: #fff;
             background-image: url(../css/assets/processing-15bf561438d6dfe037bed98035a80617.gif);
             background-repeat: no-repeat;
             background-position: 10px 50%;
             -webkit-border-radius: 6px;
             -moz-border-radius: 6px;
             border-radius: 6px;
             z-index: 999;
         }
         @media (-webkit-min-device-pixel-ratio: 1.5),  (min--moz-device-pixel-ratio: 1.5),  (-o-min-device-pixel-ratio: 3 / 2),  (min-device-pixel-ratio: 1.5),  (min-resolution: 1.5dppx) {
             div.processing {
                 background-image: url(../css/assets/processing-2x-37dfbd7af192069e60bb23ca04386ae4.gif);
                 -webkit-background-size: 32px 32px;
                 -moz-background-size: 32px 32px;
                 background-size: 32px 32px;
             }
         }#infscr-loading {
              padding: 10px;
              margin-bottom: 30px;
              text-align: center;
              color: #999999;
          }
         #infscr-loading img {
             display: block;
             margin: 0 auto 8px auto;
         }
         div.processing em {
             font-weight: normal;
             font-style: normal;
             color: #777777;
         }
         div.friendly-alt h2 {
             font-size: 20px;
         }
         div.friendly-compact a {
             text-decoration: underline;
         }
         div.friendly-compact span.meta {
             margin-left: 4px;
             font-size: 11px;
             color: rgba(0, 0, 0, 0.4);
         }
         div.friendly-compact img.point {
             position: absolute;
             top: 30px;
             right: 240px;
         }
         div.psst {
             position: relative;
             padding: 15px 40px;
             font-size: 13px;
             line-height: 1.3;
             color: #fff;
             background: #fff;
         }
         div.psst div {
             text-align: center;
             color: rgba(0, 0, 0, 0.5);
         }
         div.psst div b {
             font-weight: 500;
             color: rgba(0, 0, 0, 0.72);
         }
         div.psst div a {
             font-weight: 500;
             color: #ea4c89;
         }
         div.psst div a:hover {
             color: #df3e7b;
         }
         div.psst div a.close {
             position: absolute;
             top: 10px;
             right: 20px;
             padding: 8px;
             line-height: 1;
             opacity: .37;
             -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
             border-radius: 50%}
         @media only screen and (max-width: 800px) {
             div.psst div a.close {
                 right: 10px;
             }
         }div.psst div a.close img {
              float: right;
          }
         div.psst div a.close:hover {
             opacity: .72;
             background: rgba(0, 0, 0, 0.1);
         }
         div.confirmation {
             margin: 20px;
             text-align: center;
         }
         div.confirmation h1 {
             margin: 0 0 10px 0;
             font-size: 34px;
             font-weight: 500;
             letter-spacing: -.03em;
             line-height: 1.3;
         }
         div.confirmation h2 {
             margin: 0 0 20px 0;
             font-size: 20px;
             font-weight: normal;
             line-height: 1.3;
             color: #777777;
         }
         div.confirmation h2 strong {
             font-weight: 500;
             color: #444444;
         }
         div.confirmation p {
             margin: 0 0 20px 0;
             font-size: 15px;
             line-height: 1.5;
             color: #999999;
         }
         div.confirmation p.back {
             margin-top: 60px;
         }
         div.confirmation p .form-sub, div.confirmation p a.form-sub-big, div.confirmation p a.form-sub-teams {
             padding: 10px 20px;
             font-size: 13px;
         }
         div.confirmation p a {
             font-weight: 500;
         }
         .highlighted {
             margin: 0;
             background: url(../css/assets/hi-bg-522473a62c4c600e420293e0d61439c6.png);
         }
         .sorry-message {
             padding: 60px 180px;
             text-align: center;
             background: #fff;
             border-radius: 10px;
         }
         .sorry-message h1 {
             font-size: 36px;
             font-weight: 500;
             line-height: 1.2;
             letter-spacing: -.01em;
         }
         .sorry-message p {
             margin: 20px 0 0 0;
             font-size: 18px;
             line-height: 1.5;
             color: #777;
         }
         .sorry-message p strong {
             color: #444;
         }
         .sorry-message p a {
             font-weight: 500;
         }

         @media screen and (max-width: 959px) {
             .shot-overlay {
                 overflow-y: auto;
             }
         }

         @media screen and (max-width: 870px) {
             body {
                 padding-top: 40px;
             }
         }

         @media only screen and (max-width: 739px) {
             div.main-shot {
                 width: auto;
                 margin: 0;
             }

             div.screenshot-info-wrapper {
                 padding-top: 52px;
             }
         }

         @media only screen and (max-width: 739px) {
             div.screenshot-meta {
                 margin-top: 0;
                 padding-top: 0;
                 clear: left;
                 float: none;
                 width: auto;
                 margin-top: 0;
                 padding-left: 0;
             }
         }

         @media screen and (max-width: 749px) {
             div.screenshot-meta {
                 padding-left: 460px;
             }
         }

         @media screen and (max-width: 759px) {
             div.screenshot-meta {
                 padding-left: 470px;
             }

             div.screenshot-meta {
                 padding-left: 480px;
                 width: 250px;
             }
         }

         @media only screen and (max-width: 739px) {
             div.screenshot-meta {
                 margin-top: 0;
                 padding-top: 0;
                 clear: left;
                 float: none;
                 width: auto;
                 margin-top: 0;
                 padding-left: 0;
             }
         }

         @media only screen and (max-width: 739px) {
             ul.shot-stats {
                 position: absolute;
                 top: 0;
                 left: -15px;
                 right: -15px;
                 border-bottom: 1px solid #ddd;
             }

             ul.shot-stats > li {
                 position: static;
                 display: inline-block;
                 width: auto;
                 float: none;
                 border: none;
             }
         }

         @media screen and (max-width: 460px) {
             div.the-shot div.single {
                 width: auto;
                 height: auto;
                 min-height: 0;
                 padding: 0;
                 margin: 0 -15px;
                 -webkit-box-shadow: none;
                 -moz-box-shadow: none;
                 box-shadow: none;
             }
         }

         @media screen and (max-width: 870px) {
             #content, #main, #main.main-full, div.secondary, div.full, #main div.col-half, #main div.col-half-last {
                 float: none;
                 width: auto;
             }
             #content, #main, #main.main-full, div.secondary, div.full, #main div.col-half, #main div.col-half-last {
                 float: none;
                 width: auto;
             }
         }

         @media screen and (max-width: 720px){
             .overlay-content {
                 padding: 15px;
             }
         }
         @media screen and (max-width: 959px) {
             .overlay-content {
                 left: auto;
                 top: 0;
                 width: 100%;
                 max-width: 100%;
                 margin-left: 0;
                 padding: 20px;
                 -webkit-border-radius: 0;
                 -moz-border-radius: 0;
                 border-radius: 0;
             }
         }

         @media only screen and (max-width: 800px) {
             div.slat-header h1 {
                 font-size: 16px;
                 line-height: 1.2;
                 margin-bottom: 4px;
             }
             div.slat-header .photo {
                 width: 40px;
                 max-height: 40px;
             }
         }

         @media only screen and (max-width: 959px) {
             div.shot-overlay div.slat-header {
                 max-width: 730px;
                 margin-left: auto;
                 margin-right: auto;
                 box-sizing: border-box;
             }
         }
         @media screen and (max-width: 720px) {
             div.shot-desc {
                 width: auto;
                 font-size: 16px;
                 line-height: 1.5;
             }
         }
         @media only screen and (max-width: 739px) {
             div.screenshot-conversation {
                 float: none;
                 width: auto;
             }
         }
         @media screen and (max-width: 460px) {
             div.the-shot {
                 float: none;
                 width: auto;
                 background: none;
             }
         }
         ol.more-thumbs {
             margin: 5px 0;
             overflow: hidden;
         }
         ol.more-thumbs li {
             float: left;
             width: 46%;
             margin: 0 0 15px 0;
         }
     </style>


 {% endblock %}




{% block body %}
    <div class="shot-overlay" tabindex="-1">
        <a href="{{ path('list_annoncesamp', {'ville': annonce.ville|GenerateSlug, 'tags': annonce.tags|GenerateSlug}) }}"
           class="close-overlay" aria-label="close"></a>
        <div class="overlay-content group">
            <!-- /main -->
            <div class="slat-header user ">
                    <amp-img height="20" width="20" title="Site {{ annonce.idSite|SiteInfos.name }}"
                         src="{{ asset("logo/" ~ annonce.idSite|SiteInfos.logo) }}"
                         class="photo"></amp-img>
                <a href="#" title="George Bokhua" rel="contact" class="url hoverable"></a>
                <h1>{{ annonce.title }} <span class="badge badge-pro">{{ annonce.prix }} DH </span></h1>

                <h2 class="shot-byline">
      <span class="attribution ">
        <span class="shot-byline-user">
         <a title="Annonces {{ annonce.tags }} / {{ annonce.ville }} Maroc"
            href="{{ url('list_annoncesamp', {'ville': annonce.ville|GenerateSlug, 'tags': annonce.tags|GenerateSlug}) }}"
            class="url hoverable"> Annonces {{ annonce.tags }} / {{ annonce.ville }} Maroc </a>
        </span>
      </span>

        <span class="shot-byline-date">
           <em class="timestamp"> </em>
        </span>
                </h2>
            </div>
            <div class="main-shot">
                <div data-img-src="images/{{ annonce.idSite }}/{{ annonce.image }}"
                     data-screenshot_id="{{ annonce.idAnnonces }}" class="the-shot">
                    <div class="single group">
                        <amp-img height="250" width="350" src="{{ asset(annonce.image) }}"></amp-img>
                    </div>
                </div>
                <div class="screenshot-info-wrapper">
                    <div class="screenshot-conversation">

                        <div class="shot-desc">
                            <p>{{ annonce.description }}</p>
                        </div>
                    </div>
                    <div class="screenshot-meta is-team">
                        <ul class="shot-stats">
                            {% for dataItem in annonce.getExtraAnnonces() %}
                                <li class="shot-stats-share">
                                    {% if dataItem.label is defined %}
                                        <a href="#" class="stats-action share-shot">
                                            <span class="stats-label">{{ dataItem.label }}</span>
                                        </a>
                                    {% endif %}
                                    {% if dataItem.value is defined %}
                                        <span class="views-count stats-num">
                                        {{ dataItem.value }}
                                    </span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="related-player-shots">
                            <h3 class="meta-head">

                                    Annonces Similaires :
                                </h3>
                            <ol class="more-thumbs">
                                {% for anno in annoncesSimilar %}
                                    <li>
                                        <a class="url hoverable"
                                           href="{{ path('detail_annoncesamp', {'ville': anno.ville|GenerateSlug, 'idannonce': anno.idAnnonces, 'title': anno.title|GenerateSlug}) }}">
                                            <amp-img height="86" width="115" class="similar" alt="{{ anno.title }}"
                                                 src="{{ asset(anno.image) }}"></amp-img>
                                            <span> {{ anno.title }} </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div id="kbd-legend">
                <p><a class="form-btn" target="_blank" rel="nofollow" href="{{ annonce.url }}">Aller dans la page
                        d'annonce</a></p>
            </div>

            <div class="overlay-footer group">
            </div>
            <div class="thedeck loading-dock hide">
            </div>

        </div>
    </div>
{% endblock %}