{# src/AppBundle/Resources/views/Default/list.html.twig #}


{% extends "AppBundle::layoutamp.html.twig" %}


{% block title %}Cherche.ma - Les annonces {{ arguments.tags }} au {{ arguments.ville }} Maroc{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ url('list_annonces', arguments) }}">
{% endblock %}

{% block topHeader %}
    <div class="full-pitch group">
        <h1>
            Comparer tous les annonces de {{ arguments.tags }} {{ arguments.keys }}
            <strong>Prix {{ arguments.ville }} Maroc</strong>
        </h1>
    </div>
{% endblock %}

{% block body %}
    {% if annonces is not empty %}
        <h2 class="section">
            {{ countAnnonces }} Annonces trouvées
        </h2>
    {% endif %}
    <ol class="group collections ">
        {% if annonces is not empty %}
            {% for annonce in annonces %}
                <li class="group singleAnnonce" id="screenshot-{{ annonce.idAnnonces }}">
                    <div class="dribbble">
                        <div class="dribbble-shot">
                            <div class="dribbble-img">
                                <a href="{{ path('detail_annoncesamp', {'ville': annonce.ville|GenerateSlug, 'idannonce': annonce.idAnnonces, 'title': annonce.title|GenerateSlug}) }}"
                                   class="dribbble-link">
                                    <div data-alt="{{ annonce.title }}" data-picture="">
                                        <amp-img height="250" width="300" alt="{{ annonce.title }}"
                                             src="{{ asset(annonce.image) }}"></amp-img>
                                    </div>
                                </a>
                                <a href="{{ path('detail_annoncesamp', {'ville': annonce.ville|GenerateSlug, 'idannonce': annonce.idAnnonces, 'title': annonce.title|GenerateSlug}) }}"
                                   class="dribbble-over">
                                    <span class="comment">{{ annonce.description[:150] ~ ' ...' }}</span>
                                    <em class="timestamp"></em>
                                </a>
                            </div>
                            <div class="collection-thumbs">
                                <span class="tools-title"> {{ annonce.tags }} / {{ annonce.ville }}</span>
                                {% for dataItem in annonce.getExtraAnnonces() %}
                                    <h3>
                                        {% if dataItem.label is defined %}
                                            <span>{{ dataItem.label }}</span>
                                        {% endif %}
                                        {% if dataItem.value is defined %}
                                            <span class="meta">{{ dataItem.value }}</span>
                                        {% endif %}
                                    </h3>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <h2 class="attribution hover-card-parent">
            <span class="attribution-user">
                <amp-img height="20" width="20" title="Site {{ annonce.idSite|SiteInfos.name }}"
                     src="{{ asset("logo/" ~ annonce.idSite|SiteInfos.logo) }}" class="photo logosite"></amp-img>
                <a href="{{ path('detail_annoncesamp', {'ville': annonce.ville|GenerateSlug, 'idannonce': annonce.idAnnonces, 'title': annonce.title|GenerateSlug}) }}"
                   class="url hoverable">{{ annonce.title }}  </a>
            </span>
                        <span class="badge badge-pro">{{ annonce.prix }} DH</span>
                    </h2>
                </li>
            {% endfor %}
        {% else %}
            <div class="null null-message">
                <h2>Aucune annonce trouver.</h2>
            </div>
        {% endif %}
    </ol>

    {% include "AppBundle::pagination.html.twig" %}

{% endblock %}