{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
<div class="search-extra ">
    <ol class="search-extra-list ">
        <li id="t-search">
            {{ form_start(form, {'action': path('homepageamp'), 'method': 'post', 'attr': {'target':'_top','class': 'home__search search-form', 'id':'search', 'action-xhr': path('homepageamp')}}) }}

            {{ form_errors(form) }}
            {{ form_widget(form.search, {'attr': {'class': 'autocomplete__submit'}}) }}
            <div class="autocomplete">
                {{ form_widget(form.text, {'attr': {'placeholder': 'Que recherchez-vous ?','class': 'autocomplete__hint', 'id': 'home__hint'}}) }}
            </div>
            {{ form_widget(form.villes, {'attr': {'class': 'villes-select select-block-level white-border'}}) }}
            {{ form_widget(form.tags, {'attr': {'class': 'tags-select select-block-level white-border'}}) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </li>

    </ol>
</div>
<div class="full-tabs group" style="display: none">
    <ul class="shot-menu full-tabs-links list-orders-items">

        <li>Trier Par :</li>
        <li id="a_1096" class="active">
            <a class="order-item per-order" data-order="per" href="javascript:void(0)">Pertinence</a>
        </li>
        <li id="a_1098">
            <a class="order-item date-order" data-order="date" href="javascript:void(0)">Les plus récentes</a>
        </li>
        <li id="a_1098">
            <a class="order-item date-order" data-order="prix" href="javascript:void(0)">Prix</a>
        </li>
    </ul>

</div>